PORT=3000
NODE_ENV=development
ALLOW_INSECURE_SSL=true

CTP_PROJECT_KEY=your_project_key
CTP_CLIENT_ID=your_client_id
CTP_CLIENT_SECRET=your_client_secret
CTP_SCOPE=manage_products:your_project_key view_products:your_project_key
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
